<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered nowrap " style="width: 100%; margin-bottom: 250px;">
          <thead>
            <tr>
              <th>Producto</th>
              <th class="col-md-2 col-md-2">Precio Unitario</th>
              <th class="col-md-1 col-md-1">Cantidad</th>
              <th class="col-md-2 col-md-2">Precio Total</th>
            </tr>
          </thead>
          <tbody>
            <tr style="background-color: white;" *ngFor="let view of views">
              <td>
                  <b>{{view.nombreProducto}}</b>
              </td>
              <td>${{view.precio}}</td>
              <td><p>{{view.cantidad}}</p></td>
              <td>${{view.total}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>

              <th>Total</th>
              <th class="col-md-2 col-md-2"></th>
              <th class="col-md-1 col-md-1"></th>
              <th class="col-md-2 col-md-2">{{totalG}}</th>

            </tr>
          </tfoot>
        </table>
        
      </div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Finalizar Compra
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Selecciona la forma en la que deseas realizar tu pago</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="card">
                      <div class="card-header">
                        Dolar
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Total en Dolar</h5>
                        <p class="card-text">{{total}}</p>
                        <a class="btn btn-primary" (click)="registrarVenta('dolar')" data-bs-dismiss="modal" style="color: white;">Pagar con Dolar</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <div class="card-header">
                        Bitcoin
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Total en Bitcoin</h5>
                        <p class="card-text">{{total/bitcoin.rate_float}}</p>
                        <a class="btn btn-primary" (click)="registrarVenta('bitcoin')" data-bs-dismiss="modal" style="color: white;">Pagar con Bitcoin</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <div class="card-header">
                        Euro
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Total en Euro</h5>
                        <p class="card-text">{{total*euro.conversion_rate}}</p>
                        <a class="btn btn-primary" (click)="registrarVenta('euro')" data-bs-dismiss="modal" style="color: white;">Pagar con Euro</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
