<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered nowrap " style="width: 100%; margin-bottom: 250px;">
          <thead>
            <tr>
              <th>Producto</th>
              <th class="col-md-2 col-md-2">Precio Unitario</th>
              <th class="col-md-1 col-md-1">Cantidad</th>
              <th class="col-md-2 col-md-2">Precio Total</th>
            </tr>
          </thead>
          <tbody>
            <tr style="background-color: white;" *ngFor="let view of views">
              <td>
                  <b>{{view.nombreProducto}}</b>
              </td>
              <td>${{view.precio}}</td>
              <td><p>{{view.cantidad}}</p></td>
              <td>${{view.total}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-2"><p>Total</p></div>
          <div class="col-md-8"></div>
          <div class="col-md-1"><p>{{totalG}}</p></div>
          <div class="col-md-1"><input type="button" value="Comprar" (click)="registrarVenta()"></div>
        </div>
      </div>
      
    </div>
  </div>
</section>
