
    <ul>
      <select id="user1" name="select" style="color: white; ">
        <option value="" selected>Selecciona una Categoria</option>
        <option value="value1">Value 1</option>
        <option value="value2">Value 2</option>
        <option value="value3">Value 3</option>
      </select>
    </ul>



<input class="variation" id="pinkaru" type="radio" value="5" name="color" />



<main>

  <section *ngFor="let producto of productos; index as i;">
    <div class="profile profile-default">
      <div class="profile__image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo" />
      </div>
      <div class="profile__info">
        <h3 class="profile__stats__info" id="nombreProducto" >{{producto.nombreProducto}} </h3>

      </div>
      <div class="profile__stats">

        <h5 class="">Descripcion del Producto:&nbsp;<b
            class="texto"><br>{{producto.descProducto}}</b></h5>
        <h5 class="profile__stats__info" id="precioProducto">Precio del Producto:&nbsp;<b >${{producto.precioProducto}}</b> </h5>
        <h5 class="profile__stats__info" id="stockProducto">Stock del Producto:&nbsp;<b class="texto">{{producto.stockProducto}}</b> </h5>
        <h5 class="profile__stats__info" id="idCategoria">Categoria:&nbsp;<b class="texto"  >{{producto.idCategoria}}</b></h5>

      </div>
      <form>
        <p class="clasificacion">
          <input id="radio1" type="radio" name="estrellas" value="5"><!--
          --><label for="radio1">★</label><!--
          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
          --><label for="radio2">★</label><!--
          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
          --><label for="radio3">★</label><!--
          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
          --><label for="radio4">★</label><!--
          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
          --><label for="radio5">★</label>
        </p>
      </form>
      <!--<div class="profile__cta"><button type="submit" (click)="updateProducto(producto)" class="btn btn-dark">Actualizar</button></div>
      <div class="profile__cta"><button type="submit" (click)="eliminarProducto(producto.idProducto)" class="btn btn-dark">Eliminar</button></div>-->
      <button > </button>
      <div class="profile__cta"><a (click)="verProducto(producto)" class="button" style="color: black">Ver Mas</a></div>
      <div class="profile__cta"><a (click)="updateProducto(producto)" class="button" style="color: black">Actualizar</a></div>
    </div>
  </section>

</main>
