<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .alert {
    width: 50%;
    align-items: center;
    margin-top: -15rem;

  }
</style>


<body>

  <div class="container">

    <div class="alert alert-success" role="alert">
      Agregando un Nuevo Producto
    </div>

    <form [formGroup]="productoForm" class="row g-3" enctype="multipart/form-data" action="" method="post"
      autocomplete="off">

      <div class="col-xs-12 col-md-6">
        <label class="form-label">Nombre del Producto</label>
        <input formControlName="nombreProducto" type="text" style="width: 90%;" class="form-control" required>
      </div>

      <div class="col-xs-12 col-md-6">
        <label class="form-label">Descripcion del Producto</label>
        <input formControlName="descProducto" type="text" style="width: 90%;" class="form-control" required>
      </div>

      <div class="col-xs-12 col-md-6">
        <label class="form-label">Precio del Producto</label>
        <input type="text" style="width: 90%;" class="form-control" placeholder="$0 - $999.9" id="precioProducto"
          formControlName="precioProducto"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="5" />
      </div>


      <div class="col-xs-12 col-md-6">
        <label class="form-label">Stock del Producto</label>
        <input type="text" style="width: 90%;" class="form-control" placeholder="1 - 999"
          formControlName="stockProducto" name="stockProducto"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="3" />
      </div>


      <div class="col-xs-12 col-md-6">
        <label class="form-label">Categoria del Producto</label>

        <select name="idCategoria" style="width: 90%;"  formControlName="idCategoria" class="form-select" required>
          
          <option *ngFor="let categoria of categorias" value="{{ categoria.idCategoria }}" >{{categoria.nombreCategoria}} </option>
        </select>
      </div>
      <!--<div class="col-xs-12 col-md-6">
        <label class="form-label">Categoria del Producto</label>

        <select name="idCategoria" style="width: 90%;" class="form-select" required>
          <option class="option" formControlName="idCategoria">Debes Seleccionar La Categoria</option>
        </select>
      </div>-->

      <div class="col-xs-6 col-md-12">
        <button (click)="agregarProducto(producto)" class="btn btn-success" type="submit">Guardar Producto</button>
      </div>
    </form>
  </div>


</body>

</html>