<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .container {
    width: 50%;
    margin-left: 25%;
    margin-top: -13rem;
  }

  main {
    margin-right: 500px;
    margin-left: 270px;
  }

  img {
    width: 100%;
  }

  h5 {

    text-align: left;

  }
  #valoracion{
    padding: 2px 10px;
    font-size: 12px;
  }
</style>

<body>

  <div class="container">

    <form id="login-form">
      <div class="form-container sign-in-container">
        <img id="urlImage" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="">

      </div>


      <div class="overlay-container">
        <div>
          <button id="valoracion"  type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
           Añadir una valoracion
          </button>
        </div>
        <h5 id="nombreProducto">Nombre: {{producto.nombreProducto}}</h5>
        <h5 id="descProducto">Descripcion: {{producto.descProducto}}</h5>

        <h5 style="font-weight:lighter;" id="stockProducto">Stock: {{producto.stockProducto}}</h5>

        <div style="text-align: left ; padding-top: 2%;">
          <b style="font-weight:lighter; font-size: 20px; " id="precioProducto">Precio: ${{producto.precioProducto}}</b>

        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <button id="agregar" type="submit" class="btn btn-warning" (click)="agregarCarrito()">Agregar al Carrito</button>
            <button id="producto" class="btn btn-success"><a style="font-size: 12px;" href="/productos">Seguir
                Comprando</a></button>
          </div>
        </div>
      </div>

    </form>

  </div>

      <div class="modal fade" id="exampleModal" style="width: 30%; margin-left: 35%;" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Añade una valoracion Para el Producto: {{producto.nombreProducto}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="">
                <div class="row">
                  <div class="col">
                    <div class="card">
                      <div class="card-header">
                        Califica este producto
                      </div>
                      <div id="modal" class="card-body" align="center">
                        <p class="card-text">



                        </p>
                        <form id="form">
                          <p id="" class="clasificacion">
                            <input id="radio1" type="radio" (click)="registrarValoracion(5)" name="estrellas" value="5">
                            <!--
                            --><label for="radio1">★</label>
                            <!--
                            --><input id="radio2" type="radio" (click)="registrarValoracion(4)" name="estrellas" value="4">
                            <!--
                            --><label for="radio2">★</label>
                            <!--
                            --><input id="radio3" type="radio" (click)="registrarValoracion(3)" name="estrellas" value="3">
                            <!--
                            --><label for="radio3">★</label>
                            <!--
                            --><input id="radio4" type="radio" (click)="registrarValoracion(2)" name="estrellas" value="2">
                            <!--
                            --><label for="radio4">★</label>
                            <!--
                            --><input id="radio5" type="radio" (click)="registrarValoracion(1)" name="estrellas" value="1">
                            <!--
                            --><label for="radio5">★</label>
                          </p>
                        </form>
                        <a class="btn btn-primary"  data-bs-dismiss="modal" style="color: white;">Valorar el producto</a>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>








</body>




</html>
