

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#agregar {
    margin-top: 10%;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #fedd3a;
	background-color: #fedd3a;
	color: #1f1f1f;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  
}

#producto {
    margin-top: 10%;
	border-radius: 10px 10px 10px 10px;
	
	color: #1f1f1f;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
    align-items: flex-end;
	position: relative;

	width: 968px;

	height: 480px;
}

.form-container {
	position: absolute;
	top: 0;

	transition: all 0.6s ease-in-out;
}



.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}




.overlay-container {
	position: absolute;
	top: 0;
	left: 52%;



}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}



.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}



form#login-form:before, form#login-form:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
  
  form#login-form:before {
 
    color: rgb(82, 82, 82);
    height: 0.5em;
    width: 0.5em;
    top: 1.75em;
  }
  form#login-form:after {
    content: '';
    background: rgba(128, 128, 128, 0.3);
    height: 15em;
    width: 0.12em;
    top: -9em;
    left: .5em;
    z-index: 900;
    -moz-box-shadow: 0 9.6em 0 0 rgba(128, 128, 128, 0.3);
    -webkit-box-shadow: 0 9.6em 0 0 rgba(128, 128, 128, 0.3);
    box-shadow: 0 9.6em 0 0 rgba(128, 128, 128, 0.3);
  }





  
  #form {
margin-right: 60%;


  }
  

  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }