<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .container {
    width: 50%;
    margin-left: 25%;
    margin-top: -13rem;
  }

  main {
    margin-right: 500px;
    margin-left: 270px;
  }

  img {
    width: 100%;
  }

  h5 {

    text-align: left;

  }
</style>

<body>

  <div class="container">

    <form id="login-form">
      <div class="form-container sign-in-container">
        <img id="urlImage" src="/assets/images/laptop.png" alt="">

      </div>


      <div class="overlay-container">
        <h5 id="idCategoria" style="font-weight:initial;">*Categoria del producto*</h5>
        <h5 id="nombreProducto">Nombre: {{producto.nombreProducto}}</h5>
        <h5 id="descProducto">Descripcion: {{producto.descProducto}}</h5>

        <h5 style="font-weight:lighter;" id="stockProducto">Stock: {{producto.stockProducto}}</h5>

        <div style="text-align: left ; padding-top: 2%;">
          <b style="font-weight:lighter; font-size: 20px; " id="precioProducto">Precio: ${{producto.precioProducto}}</b>

        </div>
        <form id="form"> 
          <h5>Calificacion</h5>
          <p id="" class="clasificacion"> 
            <input id="radio1" type="radio" name="estrellas" value="5"><!--
            --><label for="radio1">★</label><!--
            --><input id="radio2" type="radio" name="estrellas" value="4"><!--
            --><label for="radio2">★</label><!--
            --><input id="radio3" type="radio" name="estrellas" value="3"><!--
            --><label for="radio3">★</label><!--
            --><input id="radio4" type="radio" name="estrellas" value="2"><!--
            --><label for="radio4">★</label><!--
            --><input id="radio5" type="radio" name="estrellas" value="1"><!--
            --><label for="radio5">★</label>
          </p>
        </form>
        <section>
          <button id="agregar" type="submit" (click)="agregarCarrito()">Agregar al Carrito</button>
          <button id="producto" class="btn btn-success"><a href="/productos">Seguir Comprando</a></button>
        </section>

      </div>

    </form>

  </div>
</body>

</html>