<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  body {

    margin-top: -10rem;

  }
</style>

<body>

  <section class="home-section">
    <div class="container">
      <div class="row">



        <div class="col-md-12">
          <table id="example" class="table table-striped table-bordered nowrap " style="width: 100%">
            <thead>
              <tr>

                <th>Producto</th>
                <th></th>
                <th class="col-md-1 col-md-1">Precio</th>
                <th class="col-md-1 col-md-1">Cantidad</th>
                <th>Categoria</th>

              </tr>
            </thead>
            <tbody>

              <tr style="background-color: white;">

                <td><img src="/assets/images/laptop.png" style="width: 100px;height: 75px; "></td>
                <td>
                  <div style="color: rgb(16, 77, 167);">
                    <b> *nombre del producto*</b>
                  </div>
                  <div>
                    <p> esta es una descripcion del producto para ver si no
                      se desconfigura la babosada de la celda de la tabla y parece que no se desconfigura, nais</p>
                  </div>
                </td>
                <td id="precioProducto">$5 peso</td>
                <td>
                  <div align="center">
                    <input style="width: 80%;" type="number" id="stockProducto" min="0" placeholder="0">
                  </div>
                </td>
                <td>*categoria*</td>


              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>


  </section>
</body>

</html>