<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  body {

    margin-top: -10rem;
    height: 100vh;
  }
</style>

<body>

  <section class="home-section">
    <div class="container">
      <div class="row">



        <div class="col-md-12">
          <table id="example" class="table table-striped table-bordered nowrap " style="width: 100%; margin-bottom: 250px;">
            <thead>
              <tr>

                <th>Producto</th>
                <th class="col-md-2 col-md-2">Precio Unitario</th>
                <th class="col-md-1 col-md-1">Cantidad</th>
                <th class="col-md-2 col-md-2">Precio Total</th>
                <th class="col-md-2 col-md-2">Borrar</th>

              </tr>
            </thead>
            <tbody>

              <tr style="background-color: white;" *ngFor="let producto of productos">

                <td>
                  <div style="color: rgb(16, 77, 167);">
                    <b>{{producto.nombreProducto}}</b>
                  </div>
                  <div>
                    <p>{{producto.descProducto}}</p>
                  </div>
                </td>
                <td id="precioProducto">${{producto.precioProducto}}</td>
                <td>
                  <div align="center">
                    <input #canti="ngModel"
                    [(ngModel)]="cant" style="width: 80%;" (ngModelChange)="calcularTotal($event,producto.precioProducto)"  type="number" id="stockProducto" min="1" max="{{producto.stockProducto}}" value="1">
                  </div>
                </td>
                <td id="precioProducto">${{precioUniTotal}}</td>
                <td id="precioProducto">
                  <div class="form__field">
                    <input type="submit" value="X" (click)="borrarProductoCarrito(producto.idProducto)">
                  </div>
                </td>

              </tr>

            </tbody>
            <tfoot>
              <tr>

                <th>Total</th>
                <th class="col-md-2 col-md-2"></th>
                <th class="col-md-1 col-md-1"></th>
                <th class="col-md-2 col-md-2">{{total}}</th>

              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>


  </section>
</body>

</html>
